@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using GerenciamentoDeTarefas.Models.Enums
@model IEnumerable<Usuario>
@{
    ViewData["User"] = "Usuarios";
}
<h1>@ViewData["User"]</h1>

<p>
    <a asp-action="Cadrastro" class="btn btn-outline-primary"> Cadrastro </a>
</p>

<table class="table table-striped ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(d=>d.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(d=>d.Email)
            </th>
            <th>
                @Html.DisplayNameFor(d=>d.DataAtual)
            </th>
            <th>
                @Html.DisplayNameFor(d=>d.Perfil)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
        <td>
                    @Html.DisplayFor(d=>item.Nome)
        </td>
        <td>
                    @Html.DisplayFor(d=>item.Email)
        </td>
        <td>
                    @Html.DisplayFor(d=>item.DataAtual)
        </td> 
        <td>
                    @Html.DisplayFor(d=>item.Perfil)
        </td>

        </tr>
        }
    </tbody>
</table>
